html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    /* height: 0%; */
    font-family: sans-serif;
    /* background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('../images/boston_city_background.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background: black;
    color: white;
}

#police_img{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 45%;
    /* width: 50%; */
    height: 60%;
    margin-top: -250px;
    margin-left: -250px;
    opacity: 0.3;
}

#main_content{
	width: 100%;
	height: 100%;
}

#main_text{
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    /* margin-top: 48px; */
    margin-top: 4%;
}

.btn_style{
	
}

.btn_container{
	margin-top: 3%;
	margin-bottom:3%;
	text-align: center;
}

/* page 1 - select query style */
.suggest_txt{
    padding: 12px;
    font-size: 28px;
    background-color: #2dabf9;
    text-align: center;
    border-radius: 6px;
}

#form_layout{
	margin: 5%;
}

#select_query_page{
	display: block;
}

/* query container style */
.radiobtn_container{
	margin: 2%;
}

.radio_btn_style{
	
}

.span_txt_radio{
	
}

.combo_box_radio{
	width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

/* page 1 - result content style */
#result_content_page{
	display: none; /*reso visibile quando preme btn */
}

.result_page_name{
    padding: 12px;
    font-size: 28px;
    background-color: #2dabf9;
    text-align: center;
    margin: 5%;
    border-radius: 6px;
}

.hidetable{
    display: none;
}

.table_body_json{
    display: inherit;
}

/* Style tabella dei dati */
.table_scroll{
	height: 250px;
	overflow-y: auto;
	overflow-x: auto;
	width: 85%;
	margin: 5%;
}

.table_data{
    width: 100%;
    display: table;
    border-radius: 0px;
    border-collapse: separate;
    background-color: transparent;
    border-spacing: 0;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
}

.table_data tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table_data th {
    height: auto;
    font-size: 12px;
    padding: 4px;
    border-bottom: 0;
    text-align: center;
    color: #666666;
    background: #efefef;
    border-left: 1px solid #555555;
    font-weight: bold;
    line-height: 20px;
    display: table-cell;
    border-top: 1px solid #555555;
}

.table_data td{
    background-color: #f9f9f9;
    border-left: 1px solid #555555;
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #555555;
}

.th_short{
    width: 15%;
}

.table_data th.th_empty{
    width: 5%;
}

.td_hide{	/* se la tabella contiene dati di servizio che non devono essere mostrati */
	display: none;
}

/* bootstrap btn */
.myButton {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}
.myButton:active {
    position:relative;
    top:1px;
}

/* Custom style select */
/* The container must be positioned relative: */
.custom-select-w3c{
    font-family: Arial;
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 8px;
}

.cust_sel.selectized{
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* style for input field */
.inputfield{
    width: 300px;
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputfield:disabled{
    color: white;
}

.numberfield {
    width: 80px;
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color : black;
    margin-right: 8px;
    margin-left: 8px;
}

.numberfield_err{
    color: red;
    border-color: red;
}

.numberfield_noerr{
    color: black;
    border-color: black;
}

.noresult_p{
    display: none;
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
    color: white;
    margin-bottom: 16px;
    font-weight: bold;
}

.insert_suc_p{
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
    color: white;
    margin-bottom: 16px;
    font-weight: bold;
}

#fieldsetquery{
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border-radius: 6px;
}

.query_legend{
    display: block;
    font-size: 18px;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: auto;
    /* max-width: 100%; */
    padding: 0;
    margin-bottom: 0;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-left: 8px;
    padding-right: 8px;
}

.query_sel_text{
font-size: 24px;
    margin-left: 16px;
}

.query_text_for_result{
display: none;
}

label{
font-size: 18px;
margin-right: 20px;
}

#select_query{
margin-top: 24px;
margin-bottom: 24px;
    padding: 6px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.single_result_container{
    display: none;
}

.content_fieldset{
    margin-top: 16px;
    margin-left: 16px;
}

/* style for popup 'Inserimento' */
.popup_body{
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    position: fixed;
    width: 100%;
    padding: 1% 0 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    overflow-y: scroll;
}

#content_popup{
    display: none;
}

#content_popup_area {
    position: relative;
    background: #FFFFFF;
    max-width: 550px;
    margin: 0 auto 100px;
    padding: 40px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    z-index: 6;
}

.content_pop_button_area{
    text-align: center;
    margin-top: 20px;
    margin-right: 5%;
}

#content_popup_area div button{
    margin-left: 10%;
}

#content_popup_area h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    /* margin-top: 10px; */
    margin-bottom: 16px;
    text-shadow: 0 1px 0 #ffffff;
    text-align: center;
}

#content_popup_area span{
    font-size: 14px;
    line-height: 22px;
}

.label_popup{
    color:black;
}

.numberfield_pop {
    width: 120px;
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color : black;
    margin-right: 8px;
    margin-left: 8px;
}

.inputfield_pop{
    width: 200px;
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.select_normal_style{
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 6px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.datetime_input{
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    margin-right: 8px;
    margin-left: 8px;
}

#insert_query8_btn{
    display: none;
}


/* MAP STYLE */
#map_content_page{
    display: none;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 50%;  /* The width is the width of the web page  (default: 100%) */
    margin-left: 25%;
    color: black; /* colore del testo dei popup che mostrano la longitudine e latitudine */
}

.map_page_title{
    padding: 12px;
    font-size: 28px;
    background-color: #2dabf9;
    text-align: center;
    margin: 5%;
    border-radius: 6px;
}

/* HISTOGRAM STYLE */
#histogram_content_page{
    display: none;
}

.histogram_page_title{
    padding: 12px;
    font-size: 28px;
    background-color: #2dabf9;
    text-align: center;
    margin: 5%;
    border-radius: 6px;
}